* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Helvetica Neue", "Arial";
}

header, aside, main, footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
}

.page-wrapper {
    height: 100vh;
    display: grid;
    grid-template-areas: "header" "sidenav" "main" "footer";
    grid-template-rows: 1fr 2fr 8fr 1fr;
}

@media screen and (min-width: 768px) {
    .page-wrapper {
        grid-template-areas: "header header" "sidenav main" "footer footer";
        grid-template-columns: 20% auto;
        grid-template-rows: 1fr 10fr 1fr;
    }
}

header {
    background: #000;
    color: #fff;
    grid-area: header
}

aside.sidenav {
    background: #ddd;
    grid-area: sidenav
}

main {
    grid-area: main
}

footer {
    border-top: 1px solid #000;
    grid-area: footer
}