* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Helvetica Neue", "Arial";
}

header, aside, footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.page-wrapper {
    height: 100vh;
    display: grid;
    grid-template-areas: "header" "sidenav" "main" "footer";
    grid-template-rows: 1fr 2fr 8fr 1fr;
}

@media screen and (min-width: 768px) {
    .page-wrapper {
        grid-template-areas: "header header" "sidenav main" "footer footer";
        grid-template-columns: 20% auto;
        grid-template-rows: 1fr 10fr 1fr;
    }
}

header {
    background: #000;
    color: #fff;
    grid-area: header;
    font-size: 2.5rem;
}

aside.sidenav {
    background: #ddd;
    grid-area: sidenav;
    padding: 1em;
}

main {
    grid-area: main;
    overflow: scroll;
}

footer {
    border-top: 1px solid #000;
    grid-area: footer
}

*,
*:before,
*:after {
    box-sizing: border-box;
}


img {
    max-width: 100%;
}

h1,
p {
    margin: 0 ;
}

.media {
    margin-bottom: 2em;
    padding: 10px;
}

.media > .title { grid-area: title; }
.media > .img { grid-area: img; }
.media > .content { grid-area: bd; }
.media > .footer { grid-area: ft; }

.media {
    display: grid;
    grid-column-gap: 20px;
    grid-template-areas:
            "title"
            "img"
            "bd"
            "ft";
}


@media (min-width: 600px) {

    /* clearfix*/
    .media:after {
        content: "";
        display: block;
        clear: both;
    }

    .media > .media {
        margin-left: 160px;
        clear: both;
    }

    .media .img {
        float: left;
        margin: 0 10px 0 0;
        width: 150px;
    }

    .media .footer {
        padding: 10px 0;
    }


    .media > * {
        margin: 0 0 0 160px;
    }


    @supports(display: grid ) {
        /* override */
        .media > *{
            margin: 0;
        }
        .media .img{
            width: auto;
            margin: 0;
        }
        .media:after {
            content: none;
        }

        .media {
            display: grid;
            grid-column-gap: 20px;
            grid-template-columns: 150px 3fr;
            grid-template-rows: auto 1fr auto;
            grid-template-areas:
                    "img title"
                    "img bd"
                    "ft ft";
        }
    }


}
button.vote {
    background: #000;
    color: #fff;
    padding: .8em;
    border: none;
    font-weight: bold;
    margin-top: 1em;
    cursor: pointer;
}

.small{
    padding-top: .8em;
    font-size: .8em;
}