{% extends "layouts/default.twig" %}

{% block title %}
  <h1>Index of Movies</h1>
{% endblock %}



{% block content %}
  <p class="important">
    Welcome to the index of Movies.
  </p>
{% endblock %}