<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="css/main.css">
  {% block head %}
    <title>{{ title }}</title>
  {% endblock %}
</head>
<body>
<div class="page-wrapper">
  <header>{{ title }}</header>
  <aside class="sidenav">
    {% block sidenav %}{% endblock %}
  </aside>
  <main>
    {% block content %}{% endblock %}
  </main>
  <footer>
    {% block footer %}
      <p> &copy; {{ "now"|date("Y") }} santiagogg@gmail.com</p>
    {% endblock %}
  </footer>
</div>
{% block scripts %}
{% endblock %}

</body>
</html>